@font-face {
  font-family: "Horror";
  src: url(./BloodyTerror-GOW9Z.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #ccc;
}

header,
footer {
  padding: 4rem;
  text-align: center;
}

h1 {
  font-family: Horror;
  font-size: 3rem;
  letter-spacing: 4px;
}

/* TABLE */

table {
  /* border-collapse: collapse; */
  border-spacing: 0;
  margin: 0 20px;
}
tr:nth-child(even) {
  background-color: hsl(348, 86%, 24%);
}
tr:nth-child(odd) {
  background-color: hsl(348, 86%, 18%);
}
th,
td {
  padding: 5px 7px;
  border-top: 1px solid hsl(348, 86%, 32%);
  border-right: 1px solid hsl(348, 86%, 10%);
  border-bottom: 1px solid hsl(348, 86%, 10%);
  border-left: 1px solid hsl(348, 86%, 32%);
}
th {
  text-transform: uppercase;
  background-color: #000;
}
td:nth-child(5) {
  text-align: right;
}
tbody tr {
  transition: all 150ms;
}
tbody tr:hover {
  background-color: #000;
}

/* Loader */

#loader {
  background-color: #000;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 1.5rem;
  display: none;
}

#loader.show {
  display: block;
}
.hide {
  display: none;
}

#villains-row td {
  background-color: #793314;
}

#modal {
  background-color: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  padding-top: 60px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
}

#modal ul {
  list-style: none;
}
